[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
keyboard = "*"
flask-admin = "*"
python-decouple = "*"
peewee = "*"
wtf-peewee = "*"
clipboard = "*"
chime = "*"

[dev-packages]
black = "*"
